:root {
  --background-color: #1B1B1E;
  --primary-color: #96031A;
  --accent-color: #FAA916;
  --text-color: #FBFFFE;
  --secondary-text-color: #6D676E;
}

::selection {
  color: var(--accent-color);
  background: var( --secondary-text-color);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

header {
  position: fixed;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--background-color);
  font-family: "Roboto", sans-serif;
  place-items: center;
  line-height: 1;
  display: grid;
}

header {
  top: 0;
  width: 100%;
  backdrop-filter: blur(16px);
  opacity: 0.8;
  box-shadow:
    rgba(0, 0, 0, 0.07) 0px 1px 1px,
    rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px,
    rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  display: flex;
  justify-content: center;
}

section {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  padding: 3rem;
  margin-top: 7.5rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.33333333333;
  color: var(--secondary-text-color);
  margin-top: 1.25rem;
  max-width: 750px;
  padding-left: 1.75rem;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu li + li {
  margin-left: 5rem;
}

.menu a {
  display: inline-block;
  font-size: 1.125rem;
  opacity: 0.75;
  line-height: 1.33333333333;
  color: var(--text-color);
  text-decoration: none;
  padding: 1.125rem 0;
}

.content {
  padding-right: 1rem;
  padding-left: 1rem;
}

.hero-title {
  margin-top: 11.25rem;
}

.hero-title,
.title {
  font-size: 5rem;
  line-height: 1.125;
  color: var(--text-color);
}

.hero-title span, .title span {
  color: var(--accent-color);
}

.title {
  padding-left: 1.25rem;
  border-left: 0.5rem solid var(--accent-color);
}

.link {
  font-size: 1.125rem;
  display: inline-block;
  text-decoration: none;
  color: var(--accent-color);
  margin-top: 1rem;
  margin-left: 1.75rem;
  opacity: 0.75;
}

.link:hover {
  text-decoration: underline;
}

a:hover {
  opacity: 1;
}

small {
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  color: var(--secondary-text-color);
  margin-top: 30vh;
  margin-bottom: 5vh;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 450px) {
  .menu li + li {
    margin-left: 2rem;
  }
}